<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwiki.android.authenticator">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">

        <activity android:name=".auth.AuthenticatorActivity"
            android:label="@string/login_label"
            android:excludeFromRecents="true" android:exported="true"
            android:theme="@style/ActivityTheme" >
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up">
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".activities.SelectGroupsActivity"
            android:label="@string/title_activity_select_groups">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/ActivityTheme"
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_setting">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".activities.GrantPermissionActivity"
            android:exported="true"
            android:label="@string/title_activity_authorize">
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".activities.EditContactActivity"
            android:label="@string/title_activity_edit_contact">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.item/vnd.xwikiedit.profile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".syncadapter.EmptyProvider"
            android:authorities="org.xwiki.android.authenticator"
            android:exported="false" />

        <service
            android:name=".auth.XWikiAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".syncadapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

    </application>

</manifest>
