<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.xwiki.android.sync">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />




    <application
        android:name=".AppContext"
        android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:appComponentFactory"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx">

        <activity android:name=".auth.AuthenticatorActivity"
            android:label="@string/login_label"
            android:excludeFromRecents="true" android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.Notifications.NotificationsActivity"/>

        <activity android:name=".auth.RegistrationActivity"/>

        <activity
            android:name=".activities.GrantPermissionActivity"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/title_activity_authorize">
        </activity>
        <activity
            android:name=".activities.EditContact.EditContactActivity"
            android:noHistory="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.item/vnd.xwikiedit.profile" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SyncSettingsActivity"/>

        <activity android:name=".activities.SelectAccountActivity"/>

        <activity android:name=".activities.OIDC.OIDCActivity"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="xwiki" android:host="oidc"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".syncadapter.EmptyProvider"
            android:authorities="org.xwiki.android.sync"
            android:exported="false" />

        <service
            android:name=".auth.XWikiAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".syncadapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

    </application>

</manifest>
